/* flexbox challenge 02
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

.intro {
  background-color: #23424a;
  padding: 80px 0;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 100%;
}

.intro__content, .main__section {
  width: 62%;
}

.intro__content__image, .main__aside {
  align-self: flex-start; 
  width: 32%;
}


#intro__content__title {
  color: white;
  font-weight: 900;
  font-size: 3rem;
  margin-top: 0; 
}

#intro__content__p {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.3125rem;
  font-weight: 400;
  margin-bottom: 3em;
}

.intro__content__btn {
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
  max-width: 285px;
  text-align: center;
  cursor: pointer;
  transition: opacity 200ms ease-in-out, transform 100ms ease-in-out;
  font-size: 1.3125rem;
}

.intro__content__btn a {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;
  color: #072a2d;
  text-decoration: none;
}

.intro__content__btn:hover,
.intro__content__btn:focus {
  opacity: 0.75;
  transform: translateY(-3px);
}

/*main*/
main {
  margin-top: 3em;
}

.main__section p, .main__aside__square p {
  font-size: 1.3125rem;
  font-weight: 400;
}

.main__section h2, .main__aside h2{
  font-size: 2.25rem;
  font-weight: 900;
}

.main__section h2 {
  color: #87629A;
}

.main__aside{
  background-color: #136C72;
  color: white;
  text-align: center;
  padding: 1em;
}

.main__aside p{
  margin-bottom: 1em;
}


/*Comments:
*in terms of order , Kevin recommends on making the css that the top is general selectors, then reusable selectors (like btn) and then the specifics. I did that in the order that I see the page goes, but I may look for more details about it as I go through the course.

*the image is aligned with the sidebar because of the % widths that we chose and the justify content: space between.

*for a bug that I had, if something doesn't make sense, look carefully that the names are correct and put border/backgrounds to look "debug" the situation.

*/
